html, body
    font-family: "ProximaNova-Regular"

ul
    list-style-type: none

h1
    font-family: "ProximaNova-Bold"

h2
    font-family: "ProximaNova-Semibold"

.row
    width: auto

#sidebar
    background: #383B40
    width: 10%
    float: left

#main
    width: 90%
    float: left

#assets
    background: #1F478C
    color: #FFF

#liabilities
    background: #C6101D
    color: #FFF

.accounts
    div
        border-top: 1px solid #FFF
        display: inline-block
        margin: 0 10px 10px 10px

        &.big
            border-width: 4px

            h2
                font-size: 16px

.entypo
    &:before
        font-family: "Entypo"
        font-weight: normal
    
    &.chevron-small-left:before
        content: "\e761"
    &.chevron-small-right:before
        content: "\e762"