@font-face
    font-family: "ProximaNova-Thin"
    src: url('../fonts/ProximaNova-Thin.otf')
    font-style: normal
    font-weight: 100

@font-face
    font-family: "ProximaNova-ThinItalic"
    src: url('../fonts/ProximaNova-ThinItalic.otf')
    font-style: italic
    font-weight: 100

@font-face
    font-family: "ProximaNova-Light"
    src: url('../fonts/ProximaNova-Light.otf')
    font-style: normal
    font-weight: 300

@font-face
    font-family: "ProximaNova-LightItalic"
    src: url('../fonts/ProximaNova-LightItalic.otf')
    font-style: italic
    font-weight: 300

@font-face
    font-family: "ProximaNova-Regular"
    src: url('../fonts/ProximaNova-Regular.otf')
    font-style: normal
    font-weight: 400

@font-face
    font-family: "ProximaNova-RegularItalic"
    src: url('../fonts/ProximaNova-RegularItalic.otf')
    font-style: italic
    font-weight: 400

@font-face
    font-family: "ProximaNova-Semibold"
    src: url('../fonts/ProximaNova-Semibold.otf')
    font-style: normal
    font-weight: 600

@font-face
    font-family: "ProximaNova-SemiboldItalic"
    src: url('../fonts/ProximaNova-SemiboldItalic.otf')
    font-style: italic
    font-weight: 600

@font-face
    font-family: "ProximaNova-Bold"
    src: url('../fonts/ProximaNova-Bold.otf')
    font-style: normal
    font-weight: 700

@font-face
    font-family: "ProximaNova-BoldItalic"
    src: url('../fonts/ProximaNova-BoldItalic.otf')
    font-style: italic
    font-weight: 700

@font-face
    font-family: "ProximaNova-Extrabold"
    src: url('../fonts/ProximaNova-Extrabold.otf')
    font-style: normal
    font-weight: 800

@font-face
    font-family: "ProximaNova-ExtraboldItalic"
    src: url('../fonts/ProximaNova-ExtraboldItalic.otf')
    font-style: italic
    font-weight: 800

@font-face
    font-family: "ProximaNova-Black"
    src: url('../fonts/ProximaNova-Black.otf')
    font-style: normal
    font-weight: 900

@font-face
    font-family: "ProximaNova-BlackItalic"
    src: url('../fonts/ProximaNova-BlackItalic.otf')
    font-style: italic
    font-weight: 900

@font-face
    font-family: 'Entypo'
    font-style: normal
    font-weight: 400
    src: url('../fonts/Entypo.woff') format('woff'),
    url('../fonts/Entypo.eot') format('eot'),
    url('../fonts/Entypo.ttf') format('truetype'),
    url('../fonts/Entypo.svg') format('svg')